.lost-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:cornflowerblue;
  background-size:cover;
}

.lost-items h2 {
  font-size: 30px;
  font-weight: bold;
  color: aliceblue;
  margin-top: 20px;
  font-size: 100px;
  font-style: bold;
}

.lost-items-table {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
}

.lost-items-table th,
.lost-items-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.lost-items-table th {
  background-color: #dcdcdc;
  font-weight: bold;
}

.lost-items-table td {
  text-align: center;
}

.lost-items-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.lost-items-table tr:hover {
  background-color: #e6e6e6;
}