header {
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .menu {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    margin-right: 10px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    display: inline-block;
    padding: 5px;
    color: #333;
    text-decoration: none;
  }
  
  .menu i {
    font-size: 20px;
  }

  