* {
  font-family: "Poppins";
}

:root {
  --green-medium: #05a381;
  --green-light: #02f77d;
  --blue-dark: #000b8b;
  --gray-mid: #f6f7f7;
  --gray-dark: #707070;
  --shadow: rgba(0, 0, 0, 0.223);
}
.custom-btn-primary {
  border-radius: 100px;
  padding: 10px 20px;
  background-color: var(--green-medium);
  border: none;
  box-shadow: 5px 5px 5px var(--shadow);
}

.custom-btn-primary:hover,
.custom-btn-primary:active {
  background-color: var(--green-medium);
  border: none;
}

.items-section > h2 {
  color: var(--blue-dark);
  font-weight: 300;
  margin-bottom: 25px;
}

.item-card {
  transition: 0.3s;
}

.item-card:hover {
  box-shadow: 0 0 10px var(--shadow);
}

.c-blue {
  color: var(--blue-dark);
}

.text-description {
  color: var(--gray-dark);
  font-weight: 300;
}

.navbar-brand {
  color: var(--gray-dark);
}

.nav-link,
.nav-link:hover {
  color: var(--green-medium);
}

.active {
  color: var(--green-medium) !important;
  transition: 0.2s;
}
